.dash-list{
    
    display: flex;
    height: 100vh;
    width: calc( 20vw);
    padding: 0.6rem 0rem;
    padding-top: 4rem;
    z-index: 100;
}

.sidebar{
    background: linear-gradient(195deg, #42424a, #191919);
    height: 85vh;
    max-width: 25vw;
    position: fixed;
    margin-left: 1rem;
    border-radius: 1rem;
    z-index: 100;
}

a{
    text-decoration: none;
}

li {
    list-style: none;
    margin : 3.5rem 0rem;
    font-size: 1.3vw;
    color: rgb(196, 196, 196);
    display: flex;
    align-items: center;
    margin-right: 50px;    
}

li:hover{
    color : rgb(255, 255, 255);
    cursor: pointer;
    transform: translate(15px);
    transition: all 0.6s;
}

.icon {
    margin-right: 1rem;
}